/* Envelope Wrapper */
.envelope-wrapper {
    background: var(--bg-envelope-color);
    box-shadow: 0 10px 20px var(--shadow-color);
    border-radius: 5px;
    padding: 20px;
    margin-top: 260px;
    position: relative;
}

/* Envelope styles */
.envelope {
    position: relative;
    width: 300px;
    height: 230px;
    margin: 0 auto; /* Center envelope horizontally */
}

.envelope::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    border-top: 130px solid var(--envelope-tab);
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: all 0.5s ease-in-out;
}

.envelope::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
    border-top: 130px solid transparent;
    border-right: 150px solid var(--envelope-cover);
    border-bottom: 100px solid var(--envelope-cover);
    border-left: 150px solid var(--envelope-cover);
}

/* Letter styles */
.letter {
    position: absolute;
    left: 50%; /* Center letter horizontally */
    bottom: 0;
    width: 54%;
    height: 80%;
    background: var(--primary);
    text-align: center;
    transition: all 1s ease-in-out;
    box-shadow: 0 0 5px var(--shadow-color);
    padding: 20px 10px;
    transform: translateX(-50%); /* Offset to center */
}

.letter .text {
    font-family: 'Sugar Gummy', cursive;
    color: var(--txt-color);
    text-align: left;
    font-size: 7.5px;
    line-height: 1.5;
    padding: 10px;
}

/* Envelope flip animations */
.flap .envelope::before {
    transform: rotateX(180deg);
    z-index: 0;
}

.flap .letter {
    bottom: 100px;
    transform: translateX(-50%) scale(1.5); /* Maintain centering and enlarge */
    transition-delay: 0.5s;
}
