/* Header */
header {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 18px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    font-family: 'Great Vibes', cursive;
}

/* Footer */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* Body */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bg-color);
    background: linear-gradient(135deg, #ea363c, #fad0c4);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 70px;
    justify-content: justify;
    align-items: center;
    font-family: 'Sour Gummy', cursive;
    text-align: justify;
}

/* Main content container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding-bottom: 40px;
    flex-grow: 1;
}

/* Second page content */
.second-page {
    margin-top: 2em;
    padding: 2em;
    background: var(--bg-envelope-color);
    box-shadow: 0 10px 20px var(--shadow-color);
    border-radius: 5px;
    width: 90%;
    text-align: center;
}

.image-container {
    margin: 1.5em 0;
}

.top-image {
    width: 800px;
    height: auto;
}
